body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding:   
20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;   

}

.exercise-type {
  margin-bottom: 10px;
}

.question-box {
  background-color: #d0d0d0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#question {
  font-size: 18px;
  margin-bottom: 10px;
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;   

}

.feedback-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-panel button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}