<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="test.css">
  </head>
  <body>
    <div class="container">
      <h1>LET'S PRACTICE!</h1>
      <p class="exercise-type">Q1. Choose the correct option</p>
      <div class="question-box">
          <p>Your friend tells you, <em><span class = word es-ES>Son</span> <span class = word es-ES>las</span> <span class = word es-ES>siete</span> <span class = word es-ES>y</span> <span class = word es-ES>cinco</span>.</em></b> What time is it?  </p>
          <label>
            <input type="radio" name="answer" value="5:17">
            5:17
          </label>
          <label>
            <input type="radio" name="answer" value="7:15">
            7:15
          </label>
          <label>
            <input type="radio" name="answer" value="5:07">
            5:07
          </label> 
          <label>
            <input type="radio" name="answer" value="7:05">
            7:05
          </label> 
          <div>
            <button class="submit-btn">SUBMIT</button>
          </div>
      </div>
      <div class="feedback-panel" id="feedback-panel">
        <button class="try-again-btn">TRY AGAIN</button>
        <button class="correct-btn">CORRECT</button>
        <button class="next-btn">NEXT</button>
      </div>
    </div>
    <script>
      test2 = document.querySelectorAll('.word').forEach(wordElement => {
        wordElement.addEventListener('mouseover', function() {
          const popup = document.getElementById('definitionPopup');
          popup.textContent = getDefinition(wordElement.innerHTML);
          popup.style.display = 'block';
          popup.style.left = `${event.pageX + 10}px`;
          popup.style.top = `${event.pageY + 10}px`;
        });
  
        wordElement.addEventListener('mouseleave', function() {
          document.getElementById('definitionPopup').style.display = 'none';
        });
  
        wordElement.addEventListener('click', () => {
          speakPhrase(wordElement.innerHTML, test.classList[0])
        });
      });
  
      function getDefinition(word){
        return "Definition: " + "Backend not implemented.";
      }
      function speakPhrase(phrase, language) {
        // Create a new SpeechSynthesisUtterance object
        const utterance = new SpeechSynthesisUtterance(phrase);
        utterance.lang = language;
        speechSynthesis.speak(utterance);
      }
    </script>
  </body>
</html>