/* TODO whoever is doing styling; check assignments */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #40531B;
}

li,a, button, footer, .lang-menu, .profile-dropdown{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #D7F9F1;
    text-decoration: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none
}


button{
    color: #618B4A;
    background-color: #AFBC88;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #40531B;
}

.logo{
    cursor: pointer;
    max-width: 50px;
    height: auto;
}
.user-icon{
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
    position: relative;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #AFBC88;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 100;
    background-color: #40531B;
    /* border: 1px solid #ccc; */
    z-index: 1;
    min-width: 100px;
    padding: 20px;
    border-radius: 5%;
}

.dropdown-content li {
    display: block;
    padding: 10px;
    text-align: center;
}

.dropdown-content li a {
    color: #D7F9F1;
    text-decoration: none;
}


.nav__links li.dropdown:hover .dropdown-content {
    display: block;
}

.profile-button{
    background-color: white;
    border: #D7F9F1;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 50px; width: 50px; margin-left:0.5px; margin-right:0.5px; margin-top:0.5px; margin-bottom:0.5px
}

button:hover{
    background-color: #AFBC88;
}

.profile-container {
    position: relative;
    display: inline-block;
}

.profile-button {
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
}

.profile-dropdown {
    display: none;
    position: absolute;
    top: 115%;
    right: 0;
    background-color: #40531B;
    border: 1px solid #AFBC88;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 150px;
    border-radius: 5%;
}

.profile-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-dropdown ul li {
    padding: 10px 20px;
}

.profile-dropdown ul li a {
    color: #D7F9F1;
    text-decoration: none;
    display: block;
}

.profile-dropdown ul li a:hover{
    color: #AFBC88;
}

/* Centering and styling the main content */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
}

/* Style for the title and description */
.content[data-key="title"] {
    font-size: 2.5em;
    margin-bottom: 10px;
    margin-top: 50px;
}

.content[data-key="description"] {
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 130px;
    margin-right: 130px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;  
    margin-top: 15px;
    margin-bottom: 15px;
}

.feature-image {
    width: 200px; 
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1); /* Optional: Shadow effect */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 30px;
}

.action-button {
    width: 150px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #7AA095;
    color: #D7F9F1;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center; /* Center the text vertically */
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1); /* Optional: Shadow effect */

}

.action-button:hover {
    background-color: #7AA095;
}

footer{
    text-align: center;
    background-color:#40531B;
    padding: 12px;
    bottom: 0;
    width: 100%;
    position: fixed;
    font-size: 10px;
}

.lsa{
    font-family: "Edu AU VIC WA NT Pre", cursive;
    color: #AFBC88;
}